/***** Reset de algunos estilos *****/
html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.grid-container {
  max-width: 980px;
  margin: auto;
}
/******************************************************/
/*                                                    */
/*      Estilos de la pagina principal del blog       */
/*                                                    */
/******************************************************/
/***** Estilos del header *****/
/***** Estilos de la seccion de iconos del header *****/
header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.header-icons {
  width: 100%;
  display: grid;
  justify-content: end;
  background-color: #47cfac;
}
.header-icons__icons {
  width: 300px;
  height: auto;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-icons__icons span {
  color: #fff;
  border-radius: 50%;
}
.header-icons__icons span:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/***** Estilos de la seccion nav del header *****/
.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-nav__logo {
  margin-left: 50px;
  align-self: center;
}
.header-nav__logo img {
  width: 220px;
}
.header-nav__profile-link {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.header-nav__profile-link a {
  color: black;
  text-decoration: underline;
  padding: 10px;
}
.header-nav__profile-link a:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/***** Estilos de la seccion principal *****/
.home-main {
  height: calc(100vh - 140px);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-content: center;
  background-image: url("/assets/img/Cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main-container {
  display: grid;
  grid-column: 2;
  height: 350px;
}
.home-main-container__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color: #fff;
  text-align: center;
}
.home-main-container__button {
  width: 110px;
  height: 50px;
  background-color: #47cfac;
  place-self: center;
  display: grid;
  place-content: center;
  border-radius: 10px;
  border: 2px solid transparent;
}
.home-main-container__button:hover {
  border: 2px solid #fff;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.home-main-container__button a {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  font-weight: bold;
}
/******************************************************/
/*                                                    */
/*         Estilos de la pagina de los blogs          */
/*                                                    */
/******************************************************/
/***** Estilos del la seccion del blog principal *****/
.blogs-main {
  display: grid;
  font-size: 1.4rem;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0px 50px 40px;
}
.blogs-news-container h3 {
  padding: 20px 0;
  font-weight: bold;
}
.blogs-news-container__news {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr;
}
.blogs-news-container__img {
  grid-column: 1;
}
.blogs-news-container__img img {
  width: 85%;
  border-radius: 15px;
}
.blogs-news-container__info-container {
  grid-column: 2;
}
.blogs-news-container__info-container h2 {
  padding: 20px 0;
}
.blogs-news-container__info-container p {
  margin-bottom: 35px;
}
.blogs-posts-container {
  padding: 40px 50px;
}
.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}
/***** Estilos de los botones del la pagina *****/
.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 1.2rem;
}
.blogs-button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/***** Estilos de la seccion de ultimas noticias *****/
.blog-posts-container__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 10px;
  margin-bottom: 50px;
}
.blog-posts-container__post {
  display: inline-block;
}
.blog-posts-container__post img {
  width: 100%;
  margin: 20px 0;
  border-radius: 15px;
}
.blog-posts-container__post p {
  margin-bottom: 35px;
}
/***** Estilos del footer de la pagina Blogs *****/
footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22272d;
  font-size: 1.4rem;
  border-top: 35px solid #47cfac
}
footer p {
  color: #fff;
}
/******************************************************/
/*                                                    */
/*         Estilos de la pagina de los blog           */
/*                                                    */
/******************************************************/
/***** Estilos del la seccion del blog principal *****/
.blog-img-container {
  padding: 0 50px 40px;
}
.blog-img-container__img {
  width: 100%;
}
.blog-main-container {
  padding: 0 50px 40px;
}
.blog-main-container h3 {
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #cdd2da;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.blog-main-container__content h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.blog-main-container__content p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}
/***** Estilos de la seccion de contacto de la pagina de blog *****/
.contact-main-container {
  height: 200px;
  background-color: #e6e9ed;
}
.contact-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  width: 100%;
  height: 100%;
}
.contact-main-container__img {
  width: 100px;
  height: 100px;
}
.contact-main-container__left, .contact-main-container__right {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  place-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
}
.contact-main-container__title {
  text-decoration: underline;
  margin-bottom: 10px;
}
.contact-main-container__text {
  margin-top: 10px;
}
/******************************************************/
/*                                                    */
/*          Estilos de la pagina de perfil            */
/*                                                    */
/******************************************************/
/***** Estilos del la seccion de perfil principal *****/
.profile-container {
  width: 100%;
  background-color: #e6e9ed;
  padding: 60px 0;
}
.profile-container__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-container__img {
  width: 100%;
}
.profile-container__img img {
  width: 85%;
  border-radius: 15px;
}
.profile-container__profile-container {
  align-self: center;
}
.profile-container__profile-container h2 {
  font-size: 2rem;
  margin: 20px 0;
}
.profile-container__profile-container p {
  font-size: 1.4rem;
  margin: 20px 0;
}
/***** Estilos de la seccion de proyectos en el perfil *****/
.projects-container {
  display: grid;
  width: 100%;
  font-size: 1.4rem;
  padding: 40px 0;
}
.projects-container h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}
.projects-container__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 30px;
  margin-bottom: 50px;
}
.projects-container__post :nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
}
.projects-container__post :last-child {
  font-weight: 300;
  text-align: justify;
  margin-top: 25px;
}